{% extends 'base.html.twig' %}

{% block body %}
<h1>Hello {{ name|capitalize }}</h1>
<ul>
    <li>
        <a href="{{ path('hello') }}">Nicolas</a>
    </li>
    <li>
        <a href="{{ path('hello', {slug: 'Carole' }) }}">Carole</a>
    </li>

</ul>

{% endblock %}