{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">Envoyer le message</button>
    {{ form_end(form) }}
{% endblock %}